{% extends 'core/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block  contenido %}


{% block js %}

<script>
	function eliminarProducto(id){
		Swal.fire({
			"title": "¿Estas seguro?",
			"text": "esta acción no se puede deshacer",
			"icon": "question",
			"showCancelButton": true,
			"cancelButtonText": "no, cancelar",
			"confirmButtonText": "Si, eliminar",
			"reverseButtons": true,
			"confirmButtonColor": "#dc3545"
		})
		.then(function(result){
			if(result.isConfirmed){
				window.location.href = "/delete/"+id+"/"
			}
		})
	}
</script>

{% endblock %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Despierta la belleza de tu jardín</p>
						<h1>Nuestros Productos</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Nuestros</span> Productos</h3>
						<p>Lo mejor de nuestra comunidad.</p>
					</div>
				</div>
			</div>
	
			<div class="row">
			{% for aux in listaProducto %}
				{% if aux.stock >= 0 %}
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="{% url 'singleproduct' %}"><img src="{{ img.url }}" alt=""></a>
							</div>
							<h3>{{ aux.nombre }}</h3>
							<div class="pricing">
								{% if aux.stock > 0 %}
									<p>Stock: {{ aux.stock }}</p>
								{% else %}
									<p>Stock: Producto agotado</p>
								{% endif %}
								<p class="price"><span class="mr-2 price-dc">${{ aux.precio }}</span></p>
							</div>
							<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i></a>
							<a href="{% url 'update' aux.id %}" class="cart-btn mt-3"><i class="fas fa-edit"></i></a>
							<a href="{% url 'delete' aux.id %}" class="cart-btn mt-3"><i class="fas fa-trash-alt"></i></a>
							
						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	
	<!-- end product section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'core/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	{% endblock %}
