{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% endblock %}
{% block  contenido %}


<style>
    body {
        font-family: "Arial", sans-serif;
        background-color: #f7f7f7;
    }
    
    h2 {
        color: #F28123;
        text-align: center;
        margin-top: 20px;
    }
    
    form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    label {
        color: #F28123;
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }
    
    input[type="text"],
    input[type="number"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
        margin-top: 5px;
        background-color: #fff;
        outline: none;
    }
    
    textarea {
        resize: vertical;
        height: 80px;
    }
    
    input[type="submit"] {
        background-color: #F28123;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #F28123;
    }
</style>


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>admin session</p>
						<h1>Modificar producto</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    <h2>Modificar Producto</h2>
    <form action="" method="POST" enctype="multipart/form-data">

        {%csrf_token %}
        {{ form | crispy }}
        
        <input type="submit" value="Guardar cambios">
    </form>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                    "tittle": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success",
            })
        </script>
    {% endfor %}
    {% endif %}
    
    {% endblock %}
    {% block js %}
    {% endblock %}
